# Copyright 2025 Google LLC
# SPDX-License-Identifier: Apache-2.0

name: 'License'

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  contents: 'read'

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
      - name: 'Checkout Code'
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6

      - name: 'Set up Go'
        uses: 'actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c' # v6
        with:
          go-version: '1.25'
          cache: true

      - name: 'Check'
        run: 'go run github.com/google/addlicense@v1.1.1 -check -s=only .'
